<a href="https://colab.research.google.com/github/Jarvis-BITS/midodrine-mimic-iv/blob/demo/notebook/04_tableone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries

In [ ]:
!pip install causalml
!pip install psmpy
!pip install pysmatch
!pip install tableone

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from tableone import TableOne
from causalml import match
from pysmatch.Matcher import Matcher
from psmpy import PsmPy
from psmpy.functions import cohenD
from psmpy.plotting import *
from sklearn.linear_model import LogisticRegression as lr
import seaborn as sns
sns.set(rc={'figure.figsize':(16,10)}, font_scale=1.3)

import warnings
warnings.filterwarnings('ignore')

In [5]:
prop_score = pd.read_csv('ps.csv')

In [19]:
prop_score

             ps
0      0.083051
1      0.137752
2      0.100607
3      0.102545
4      0.039634
...         ...
35295  0.003274
35296  0.034254
35297  0.007056
35298  0.004737
35299  0.007432

[35300 rows x 1 columns]

In [7]:
cohort_table = pd.read_csv('table_cohort.csv')

In [11]:
cohort_table

,stay_id,hadm_id,subject_id,age,Gender,ethnicity,midodrine,avg_doses_per_24_hrs,MICU,adm_weekday,...,resp_rate_mean,temperature_mean,spo2_mean,glucose_mean,sedative_use,ventilation_use,vasopressor_use,mortality,mort_28_day,admit_hour
0,36014877,27162817,11861017,87,0,WHITE,1,1.595745,0,1,...,17.600000,36.416667,100.000000,247.375000,1.0,1.0,1,0,0,15
1,32272859,25963696,11259141,60,1,WHITE,1,1.633333,0,7,...,17.333333,36.898333,97.259259,120.200000,1.0,1.0,1,0,0,18
2,34023828,21782431,18010960,59,0,UNKNOWN,1,1.589041,0,1,...,15.392857,36.786667,96.629630,98.000000,1.0,1.0,1,0,0,15
3,37798199,29764966,10926537,42,1,BLACK/AFRICAN AMERICAN,1,1.568627,0,7,...,17.240000,37.142857,99.791667,95.000000,1.0,1.0,1,0,0,17
4,32309766,29272306,15703353,59,1,WHITE,1,1.517241,0,6,...,21.740741,37.372000,98.178571,136.800000,1.0,1.0,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35295,39955170,24679700,12799579,55,1,WHITE,0,1.464286,1,7,...,24.148148,37.325000,94.115385,148.333333,0.0,1.0,1,0,0,19
35296,39977793,20968809,13886051,66,1,WHITE,0,1.407407,1,3,...,14.400000,36.646364,97.205882,96.333333,0.0,1.0,1,1,1,19
35297,39980385,21253505,11392990,73,0,WHITE,0,1.592593,1,5,...,19.605263,36.835000,93.605263,203.200000,0.0,1.0,1,1,0,6
35298,39985296,29295929,19632565,59,1,WHITE,0,1.782609,1,2,...,25.692308,36.603333,96.296296,173.400000,0.0,1.0,1,1,1,15
35299,39987031,23194856,12762280,82,1,WHITE,0,2.035714,1,7,...,18.608696,36.508571,96.095238,118.666667,0.0,1.0,1,0,0,22

In [17]:
cohort_table.columns

Index(['stay_id', 'hadm_id', 'subject_id', 'age', 'Gender', 'ethnicity',
       'midodrine', 'avg_doses_per_24_hrs', 'MICU', 'adm_weekday', 'weight',
       'sapsii', 'charlson_index', 'CPD_or_COPD_rate', 'Maligancy_rate',
       'mild_liver_rate', 'severe_liver_rate', 'Renal_rate', 'CAD_rate',
       'AFIB_rate', 'hemoglobin', 'platelet', 'wbc', 'sodium', 'potassium',
       'bicarbonate', 'chloride', 'bun', 'creatinine', 'lactate', 'ph', 'po2',
       'pco2', 'bnp', 'troponin', 'creatinine_kinase', 'heart_rate_mean',
       'sbp_mean', 'dbp_mean', 'mbp_mean', 'resp_rate_mean',
       'temperature_mean', 'spo2_mean', 'glucose_mean', 'sedative_use',
       'ventilation_use', 'vasopressor_use', 'mortality', 'mort_28_day',
       'admit_hour'],
      dtype='object')

## Creating Population Table
Tom J Pollard, Alistair E W Johnson, Jesse D Raffa, Roger G Mark; tableone: An open source Python package for producing summary statistics for research papers, JAMIA Open, https://doi.org/10.1093/jamiaopen/ooy012

In [33]:
table_columns = ['midodrine', 'age', 'Gender', 'MICU', 'weight',
       'sapsii', 'charlson_index', 'CPD_or_COPD_rate', 'Maligancy_rate',
       'mild_liver_rate', 'severe_liver_rate', 'Renal_rate', 'CAD_rate',
       'AFIB_rate', 'hemoglobin', 'platelet', 'wbc', 'sodium', 'potassium',
       'bicarbonate', 'chloride', 'bun', 'creatinine', 'lactate', 'ph', 'po2',
       'pco2', 'bnp', 'troponin', 'creatinine_kinase', 'heart_rate_mean',
       'sbp_mean', 'dbp_mean', 'mbp_mean', 'resp_rate_mean',
       'temperature_mean', 'spo2_mean', 'glucose_mean', 'sedative_use', 
       'ventilation_use', 'mort_28_day', 'adm_weekday', 'ethnicity']

table_categorical = ['Gender', 'ethnicity', 'adm_weekday']

table_groupby = 'midodrine'

table_nonnormal = ['age', 'weight', 'sapsii', 'charlson_index', 'bicarbonate', 'bun',
             'creatinine', 'spo2_mean']

In [34]:
mytable = TableOne(cohort_table, columns=table_columns, categorical=table_categorical, groupby=table_groupby, nonnormal=table_nonnormal, pval=True)

In [40]:
print(mytable.tabulate(tablefmt = "fancy_grid"))

╒════════════════════════════════╤═══════════════════════════════╤═══════════╤══════════════════╤══════════════════╤══════════════════╤═══════════╕
│                                │                               │ Missing   │ Overall          │ 0                │ 1                │ P-Value   │
╞════════════════════════════════╪═══════════════════════════════╪═══════════╪══════════════════╪══════════════════╪══════════════════╪═══════════╡
│ n                              │                               │           │ 35300            │ 34490            │ 810              │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ age, median [Q1,Q3]            │                               │ 0         │ 64.0 [51.0,77.0] │ 64.0 [51.0,77.0] │ 63.0 [53.0,73.0] │ 0.210     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ Gender, n (%)                  │ 0                             │ 0         │ 18715 (53.0)     │ 18257 (52.9)     │ 458 (56.5)       │ 0.046     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ 1                             │           │ 16585 (47.0)     │ 16233 (47.1)     │ 352 (43.5)       │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ MICU, mean (SD)                │                               │ 0         │ 0.5 (0.5)        │ 0.5 (0.5)        │ 0.6 (0.5)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ weight, median [Q1,Q3]         │                               │ 680       │ 77.1 [64.7,92.3] │ 77.0 [64.7,92.0] │ 80.6 [67.7,98.4] │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ sapsii, median [Q1,Q3]         │                               │ 8617      │ 33.0 [25.0,43.0] │ 33.0 [25.0,43.0] │ 44.0 [35.0,54.0] │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ charlson_index, median [Q1,Q3] │                               │ 0         │ 5.0 [3.0,7.0]    │ 5.0 [3.0,7.0]    │ 6.0 [4.5,8.0]    │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ CPD_or_COPD_rate, mean (SD)    │                               │ 0         │ 0.2 (0.4)        │ 0.2 (0.4)        │ 0.2 (0.4)        │ 0.849     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ Maligancy_rate, mean (SD)      │                               │ 0         │ 0.2 (0.4)        │ 0.2 (0.4)        │ 0.2 (0.4)        │ 0.897     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ mild_liver_rate, mean (SD)     │                               │ 0         │ 0.1 (0.3)        │ 0.1 (0.3)        │ 0.5 (0.5)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ severe_liver_rate, mean (SD)   │                               │ 0         │ 0.1 (0.2)        │ 0.0 (0.2)        │ 0.4 (0.5)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ Renal_rate, mean (SD)          │                               │ 0         │ 0.2 (0.4)        │ 0.2 (0.4)        │ 0.3 (0.5)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ CAD_rate, mean (SD)            │                               │ 0         │ 0.2 (0.4)        │ 0.2 (0.4)        │ 0.2 (0.4)        │ 0.715     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ AFIB_rate, mean (SD)           │                               │ 0         │ 0.2 (0.4)        │ 0.2 (0.4)        │ 0.3 (0.5)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ hemoglobin, mean (SD)          │                               │ 1216      │ 10.9 (2.1)       │ 10.9 (2.1)       │ 9.7 (1.9)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ platelet, mean (SD)            │                               │ 1209      │ 211.5 (108.4)    │ 212.7 (108.2)    │ 163.7 (104.9)    │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ wbc, mean (SD)                 │                               │ 1207      │ 12.0 (10.7)      │ 12.0 (10.7)      │ 13.1 (7.6)       │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ sodium, mean (SD)              │                               │ 1008      │ 138.5 (5.0)      │ 138.6 (4.9)      │ 136.7 (6.2)      │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ potassium, mean (SD)           │                               │ 1004      │ 4.1 (0.6)        │ 4.1 (0.6)        │ 4.3 (0.7)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ bicarbonate, median [Q1,Q3]    │                               │ 1028      │ 23.0 [20.5,25.5] │ 23.0 [20.5,25.5] │ 21.3 [18.0,24.0] │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ chloride, mean (SD)            │                               │ 1014      │ 104.2 (6.1)      │ 104.3 (6.0)      │ 101.5 (7.5)      │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ bun, median [Q1,Q3]            │                               │ 1016      │ 17.7 [12.0,28.8] │ 17.5 [12.0,28.0] │ 32.0 [18.0,55.2] │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ creatinine, median [Q1,Q3]     │                               │ 1005      │ 0.9 [0.7,1.3]    │ 0.9 [0.7,1.3]    │ 1.8 [0.9,3.4]    │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ lactate, mean (SD)             │                               │ 19459     │ 2.3 (2.1)        │ 2.3 (2.1)        │ 2.8 (2.2)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ ph, mean (SD)                  │                               │ 16495     │ 7.4 (0.1)        │ 7.4 (0.1)        │ 7.4 (0.1)        │ 0.013     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ po2, mean (SD)                 │                               │ 16494     │ 118.7 (74.3)     │ 119.2 (74.6)     │ 102.3 (61.7)     │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ pco2, mean (SD)                │                               │ 16494     │ 41.6 (10.6)      │ 41.7 (10.6)      │ 39.7 (9.5)       │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ bnp, mean (SD)                 │                               │ 0         │ 0.0 (0.2)        │ 0.0 (0.2)        │ 0.0 (0.2)        │ 0.601     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ troponin, mean (SD)            │                               │ 0         │ 0.2 (0.4)        │ 0.2 (0.4)        │ 0.2 (0.4)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ creatinine_kinase, mean (SD)   │                               │ 0         │ 0.3 (0.4)        │ 0.3 (0.4)        │ 0.3 (0.4)        │ 0.815     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ heart_rate_mean, mean (SD)     │                               │ 59        │ 86.1 (16.4)      │ 86.1 (16.4)      │ 86.3 (16.5)      │ 0.826     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ sbp_mean, mean (SD)            │                               │ 147       │ 120.4 (17.1)     │ 120.7 (17.0)     │ 108.0 (14.9)     │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ dbp_mean, mean (SD)            │                               │ 148       │ 65.0 (11.4)      │ 65.1 (11.4)      │ 58.6 (9.8)       │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ mbp_mean, mean (SD)            │                               │ 73        │ 79.6 (11.6)      │ 79.8 (11.5)      │ 72.5 (10.3)      │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ resp_rate_mean, mean (SD)      │                               │ 65        │ 19.3 (3.9)       │ 19.3 (3.9)       │ 19.3 (4.4)       │ 0.941     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ temperature_mean, mean (SD)    │                               │ 314       │ 36.9 (0.5)       │ 36.9 (0.5)       │ 36.8 (0.5)       │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ spo2_mean, median [Q1,Q3]      │                               │ 86        │ 96.9 [95.5,98.3] │ 96.9 [95.5,98.3] │ 97.0 [95.6,98.4] │ 0.371     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ glucose_mean, mean (SD)        │                               │ 974       │ 260.2 (7141.9)   │ 246.0 (7038.9)   │ 854.7 (10566.0)  │ 0.105     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ sedative_use, mean (SD)        │                               │ 187       │ 0.4 (0.5)        │ 0.4 (0.5)        │ 0.6 (0.5)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ ventilation_use, mean (SD)     │                               │ 9788      │ 1.0 (0.0)        │ 1.0 (0.0)        │ 1.0 (0.0)        │ nan       │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ mort_28_day, mean (SD)         │                               │ 0         │ 0.1 (0.3)        │ 0.1 (0.3)        │ 0.3 (0.5)        │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ adm_weekday, n (%)             │ 1                             │ 0         │ 4980 (14.1)      │ 4860 (14.1)      │ 120 (14.8)       │ 0.214     │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ 2                             │           │ 5112 (14.5)      │ 4988 (14.5)      │ 124 (15.3)       │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ 3                             │           │ 5143 (14.6)      │ 5030 (14.6)      │ 113 (14.0)       │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ 4                             │           │ 5035 (14.3)      │ 4910 (14.2)      │ 125 (15.4)       │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ 5                             │           │ 5023 (14.2)      │ 4893 (14.2)      │ 130 (16.0)       │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ 6                             │           │ 4996 (14.2)      │ 4901 (14.2)      │ 95 (11.7)        │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ 7                             │           │ 5011 (14.2)      │ 4908 (14.2)      │ 103 (12.7)       │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│ ethnicity, n (%)               │ AMERICAN INDIAN/ALASKA NATIVE │ 0         │ 68 (0.2)         │ 59 (0.2)         │ 9 (1.1)          │ <0.001    │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ ASIAN                         │           │ 1127 (3.2)       │ 1107 (3.2)       │ 20 (2.5)         │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ BLACK/AFRICAN AMERICAN        │           │ 3700 (10.5)      │ 3639 (10.6)      │ 61 (7.5)         │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ HISPANIC/LATINO               │           │ 1316 (3.7)       │ 1292 (3.7)       │ 24 (3.0)         │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ OTHER                         │           │ 1680 (4.8)       │ 1641 (4.8)       │ 39 (4.8)         │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ UNABLE TO OBTAIN              │           │ 465 (1.3)        │ 455 (1.3)        │ 10 (1.2)         │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ UNKNOWN                       │           │ 3922 (11.1)      │ 3811 (11.0)      │ 111 (13.7)       │           │
├────────────────────────────────┼───────────────────────────────┼───────────┼──────────────────┼──────────────────┼──────────────────┼───────────┤
│                                │ WHITE                         │           │ 23022 (65.2)     │ 22486 (65.2)     │ 536 (66.2)       │           │
╘════════════════════════════════╧═══════════════════════════════╧═══════════╧══════════════════╧══════════════════╧══════════════════╧═══════════╛